<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DhyanaMandira.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBF20F991F04BBC2006A1E4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF20FAD1F04BBC3006A1E4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBF20FB81F04BBC3006A1E4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
